body {
  margin: 0 auto;
  max-width: 100vh;
}

nav {
  text-align: center;
  background-color: rgb(56, 56, 56);
  padding: 20px;
}

button {
  border-radius: 1;
  padding: 7px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.tab-view {
  border: 2px solid gray;
  background-color: rgb(203, 203, 203);
  text-align: center;
}

.project-card {
  margin: 0 auto;
  /* max-width: 100vh; */
  text-align: center;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  /* left: 0;
  top: 0; */
  width: 50%;
  height: 50%;
  background-color: rgb(180, 159, 212);
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px
}

.modal-content {
  background-color: rgb(216, 200, 246);
  width: 75%
  margin: 50% auto;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}